<div class="component">
    <h2>Elección de colores</h2>
    <p>
        La aplicación cuenta con una amplia selección de colores los cuales pueden ser fácilmente cambiados por el
        usuario.
        Gracias a la facilidad que ofrece <span class="italic">Flutter</span> para cambiar el <span
            class="italic">theme</span>
        de la aplicación, Natrium se encargó de ofrecer varias opciones, las cuales son las siguientes:
    </p>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img height="auto" class="img-thumbnail" src={{themePhoto.url}} alt="{{themePhoto.name}}">
        </div>
        <div class="col-md-8 col-sm-12">
            <!-- Terminal -->
            <div class="terminal">
                <pre>static const brightBlue = Color(0xFFA3CDFF); <span class="comment">// Natrium</span></pre>
                <pre>static const blueishGreen = Color(0xFF61C6AD); <span class="comment">// Titanium</span> </pre>
                <pre>static const deepBlue = Color(0xFF0050BB); <span class="comment">// Indium</span> </pre>
                <pre>static const blue = Color(0xFF4A90E2); <span class="comment">// Neptium</span> </pre>
                <pre>static const teal = Color(0xFF75F3FF); <span class="comment">// Thorium</span> </pre>
            </div>

        </div>
    </div>
    <hr>
    <h2>Elección de estilos de texto</h2>
    <p>
        Respecto al estilo del texto, ellos tomaron la decisión de utilizar tres familias de texto:
        <span class="italic">Nunito Sans, Comfortaa y OverpassMono</span> los cuales varían
        su tamaño de acuerdo al widget que lo requiera. El color cambia de acuerdo al tema que el usuario tenga
        escogido.
        Adicionalmente, tienen agregados un total de 12 fuentes personalizadas que utilizan a lo largo de la aplicación
        con diferentes
        motivos:
    </p>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img height="auto" class="img-thumbnail" src={{natriumFontsPhoto.url}} alt="{{natriumFontsPhoto.name}}">
        </div>
        <div class="col-md-8 col-sm-12">

        </div>
    </div>
</div>