<div class="container">
    <mat-card class="bug-card">
        <mat-card-header>
            <div mat-card-avatar class="circleBase" [ngClass]="{
                'redCircle': bug.priority == 3,
                'yellowCircle': bug.priority == 2,
                'greenCircle': bug.priority == 1,
                'whiteCircle': !bug.priority
            }"></div>
            <mat-card-title>{{bug.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-12">
                    {{bug.description}}
                </div>
                <mat-nav-list>
                    <div class="col-12" mat-list-item *ngFor="let url of bug.multimedia_list"
                        style="margin-bottom: 20px;">
                        <img style="max-width: 500px;" class="img-fluid" src={{url}} alt="{{bug.title + ' image'}}">
                    </div>
                </mat-nav-list>
            </div>
            <button class="issuesB" mat-raised-button (click)="toggleIssues()" color="warn">Asociar a un Issue</button>
            <div *ngIf="showIssues">
                <mat-action-list>
                    <span *ngFor="let issue of issues">
                        <button mat-list-item (click)="selectIssue(issue)" id="option">{{issue.title}}</button>
                        <mat-divider></mat-divider>
                    </span>
                    <button class="issuesB" mat-raised-button (click)="updateIssueBug()" color="accent">Update Issue</button>
                </mat-action-list>

            </div>
        </mat-card-content>
    </mat-card>
</div>