<div class="container">
    <h1>Almacenamiento en Natrium</h1>
    <hr>
    <p>El almacenamiento en Natrium es inusual, teniendo en cuenta que su propósito principal es el uso de
        transacciones de diferentes tipos de criptomonedas. Este servicio es proporcionado por
        <a href="https://appia.co/developers.html">Manta,</a> un protocolo de pagos abierto que se comunica
        con el ecosistema de Appia para el manejo de pagos de <i>cryptocurency.</i> Por dicha razón, Natrium no hace
        uso de almacenamiento externo; la gestión de las transacciones son realizadas en su completitud por Manta.
        El trabajo de Natrium es proveer entonces un protocolo de comunicación cifrado y seguro para el uso de
        transacciones, como se logra ver en el siguiente snippet de código de una clase utilizada por Manta:
    </p>
    <pre>
        <code [highlight]="mantaUtilCode" [lineNumbers]="true" ></code>
    </pre>
    <pre>
        <code [highlight]="mantaClassCode" [lineNumbers]="true" [languages]="languages" ></code>
    </pre>
    <p>Natrium realiza el manejo de los strings de identificación de billeteras a través del uso de llaves públicas
        y privadas, para posteriormente procesar la transacción a través de Manta:
    </p>
    <pre>
        <code [highlight]="mantaPaymentCode" [lineNumbers]="true" [languages]="languages" ></code>
    </pre>
    <p>Siendo así, con el fin de garantizar mayor seguridad para el usuario, Natrium hace uso exclusivo
        del almacenamiento local para la gestión de transacciones. Al crear una <i>billetera,</i> se crea una string
        de 24 palabras que se utiliza como llave para poder acceder en un futuro a la cuenta, como se evidencia
        a continuación:
    </p>
    <div class="row">
        <div class="col-6">
            <img height="auto" class="img-thumbnail-custom" src={{register1Image.url}}>
        </div>
        <div class="col-6">
            <img height="auto" class="img-thumbnail-custom" src={{register2Image.url}}>
        </div>
    </div>
    <hr>
    <p>De igual manera, la aplicación le advierte al usuario que esta información se encuentra localmente en el
        dispositivo, de tal manera que si cierra sesión o desinstala la app debe proveer manualmente dicha llave:
    </p>
    <div class="row">
        <div class="col-6">
            <img height="auto" class="img-thumbnail-custom" src={{logoutImage.url}}>
        </div>
        <div class="col-6">
            <img height="auto" class="img-thumbnail-custom" src={{loginImage.url}}>
        </div>
    </div>
    <hr>

    <h2>Entonces, ¿Cómo maneja el almacenamiento local?</h2>
    <hr>
    <div class="shared_preferences">
        <h3>
            Shared preferences
            <a target="_blank" rel="noopener noreferrer" href="https://pub.dev/packages/shared_preferences">
                <mat-icon>link</mat-icon>
            </a>
        </h3>
        <p>
            Ellos usan este plugin para configurar múltiples preferencias que el usuario puede cambiar desde la interfaz
            de
            la aplicación. Algunas de ellas son las siguientes:
        </p>
        <div class="row">
            <ol class="list">
                <li *ngFor="let sp of sharedPreferencesList;let index=index;">
                    <h4 class="headline">{{sp.title}}</h4>
                    <p>{{sp.description}}</p>
                    <pre>
                        <code [highlight]="sp.code" [lineNumbers]="true"></code>
                    </pre>
                </li>
            </ol>
            <!-- <div *ngFor="let sp of sharedPreferencesList" class="col-12">
            </div> -->
        </div>
    </div>
    <div class="sqlite">
        <h3>
            Sqlite
            <a target="_blank" rel="noopener noreferrer" href="https://pub.dev/packages/sqlite">
                <mat-icon>link</mat-icon>
            </a>
        </h3>
        <p>
            Ellos usan este plugin para configurar almacenar la información de las cuentas asociadas y los contactos que
            tiene
            el usuario. Por lo tanto, cuenta con dos tablas que son:

        </p>
        <div class="row">
            <ol class="list">
                <li *ngFor="let sl of sqliteList;let index=index;">
                    <h4 class="headline">{{sl.title}}</h4>
                    <p>{{sl.description}}</p>
                    <pre>
                        <code [highlight]="sl.code" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code>
                    </pre>
                </li>
            </ol>
            <!-- <div *ngFor="let sp of sharedPreferencesList" class="col-12">
            </div> -->
        </div>
    </div>
    <div class="sqlite">
        <h3>
            Flutter secure storage
            <a target="_blank" rel="noopener noreferrer" href="https://pub.dev/packages/flutter_secure_storage ">
                <mat-icon>link</mat-icon>
            </a>
        </h3>
        <p>
            Este plugin permite almacenar de forma segura la información que se requiera. Para iOS, se utiliza
            <a target="_blank" rel="noopener noreferrer"
                href="https://developer.apple.com/documentation/security/keychain_services#//apple_ref/doc/uid/TP30000897-CH203-TP1">keychain</a>,
            mientras que para Android utiliza <a
                href="https://developer.android.com/training/articles/keystore.html">KeyStore</a>, la cual se encuentra
            disponible únicamente desde
            Android 4.3 (API nivel 18).
        </p>
        <p>
            El caso en que lo usan es el siguiente:
        </p>
        <div class="row">
            <ol class="list">
                <li *ngFor="let fssl of flutterSecureStorageList;let index=index;">
                    <h4 class="headline">{{fssl.title}}</h4>
                    <p>{{fssl.description}}</p>
                    <pre>
                        <code [highlight]="fssl.code" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code>
                    </pre>
                </li>
            </ol>
            <!-- <div *ngFor="let sp of sharedPreferencesList" class="col-12">
            </div> -->
        </div>
    </div>
</div>