<div style="display: block;" >
    <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div *ngIf="dataReady">
    <span *ngFor="let rel of releases">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Release Name: {{rel.name}}</mat-card-title>
                <mat-card-subtitle>Release #{{releases.length - releases.indexOf(rel)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Published Date: {{rel.published_at.toLocaleDateString()}}</p>

                <p>{{rel.body}}</p>
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
    </span>
</div>